* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #fff;
}

/* 포트폴리오 */
.name {
  position: relative;
  display: flex;
  top: 80px;
  left: 20px;
  z-index: 100;
}
.name p {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  z-index: 101;
}

/* 마우스 이미지 */
.cursor {
  position: absolute;
  z-index: 1002;
}

.cursor img {
  width: 40px;
  height: 70px;
}

/* 상단으로 이동 버튼 스타일 */
.scroll-to-top {
  position: fixed; /* 화면에 고정된 위치 */
  bottom: 20px; /* 화면 하단에서 20px */
  right: 20px; /* 화면 오른쪽에서 20px */
  cursor: pointer;
  display: none; /* 기본적으로 숨김 상태 */
  z-index: 1003; /* 다른 요소보다 위에 표시 */
}

.scroll-to-top img {
  width: 40px; /* 버튼 이미지 크기 조정 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
}

.scroll-to-top.show {
  display: block; /* .show 클래스가 추가되면 버튼 표시 */
}

/* 헤더 */
.header {
  position: relative;
  width: 100%;
  height: 1000px;
  top: -800px;
  left: 30px;
  font-size: 50px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.header p {
  position: relative;
  top: 0px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 80px;
}

.text {
  position: relative;
  top: -50px;
  left: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 530;
  /* line-height: 15px; */
}
/* 비디오 */
.banner {
  position: relative;
  width: 100vw;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden;
}

.banner img {
  position: relative;
  top: 0;
  left: 0px;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
}
/* 메인 */
main {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #83a8dc;
}
.maimg {
  position: relative;
  top: 200px;
  left: 200px;
}
.maimg img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.maimg span {
  position: relative;
  top: 25px;
  left: -250px;
  color: #fff;
  font-size: 20px;
}

/* 자기소개 */
.mimm {
  display: flex;
  justify-content: space-between; /* 각 섹션을 좌우로 정렬 */
  margin-bottom: 20px; /* 각 줄 사이의 간격 */
}
/* 각 섹션 내 요소들의 기본 스타일 */
.introduction,
.skill,
.eduation,
.experience {
  flex: 1; /* 각 섹션이 균등한 너비를 차지하도록 설정 */
  padding: 10px; /* 섹션 간의 내부 여백 */
  box-sizing: border-box; /* 패딩이 포함된 너비를 계산 */
}
.eduation li,
.experience li {
  display: block;
  align-items: center;
  /* gap: 5px; */
  margin-bottom: 15px;
}
/* 섹션 제목 간격 */
.mimm h3 {
  margin-bottom: 10px;
}
.mimm h5 {
  margin-bottom: 2px;
}
.introduction {
  position: relative;
  top: -400px;
  left: 40%;
  color: #fff;
  flex: content;
}
.introduction li {
  display: flex;
  align-items: center;
  gap: 5px; /* 이미지와 텍스트 사이의 간격 */
  margin-bottom: 10px;
}
.introduction p {
  font-size: 20px;
}
.introduction span {
  font-size: 20px;
}
/* 이미지 크기 조정 */
.introduction img,
.eduation img,
.experience img {
  width: 24px; /* 원하는 크기로 조정 */
  height: 24px; /* 원하는 크기로 조정 */
}
.skill {
  position: relative;
  top: -400px;
  left: 20%;
  color: #fff;
  gap: 15px; /* 이미지 사이의 간격 조절 */
  display: block;
}
.skill img {
  width: 50px;
  height: 50px;
}
.skillinner {
  position: relative;
  display: block;
  top: -290px;
  left: -345.5px;
  gap: 15px; /* 이미지 사이의 간격 조절 */
}
/* .skillinner img {
justify-content: center;
} */
.eduation {
  position: relative;
  color: #fff;
  top: -250px;
  left: 40%;
}
.eduation p {
  font-size: 20px;
}
.eduation span {
  font-size: 13px;
}
.experience {
  position: relative;
  color: #fff;
  top: -250px;
  left: 20%;
}
.experience p {
  font-size: 20px;
}
.experience span {
  font-size: 13px;
}

/* 메뉴 */
.navbar {
  background-color: #b1caed;
  overflow: hidden;
  position: fixed; /* fixed로 변경 */
  top: 0; /* 화면 상단에 고정 */
  left: 0; /* 화면 왼쪽에 고정 */
  width: 100%;
  transition: transform 0.5s ease-in-out;
  z-index: 1000; /* 메뉴바가 다른 요소 위에 오도록 설정 */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.navbar li a:hover {
  background-color: #ddd;
  font-weight: 800;
  /* color: #ccc; */
}

/* 컨텐츠 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* opacity: 0.9; */
}

.slide-up {
  /* transform: translateY(-100%); */
}

.content {
  position: relative;
  overflow: hidden;
}

#redesign {
  position: relative;
  background-color: #7ca9e8;
  display: flex;
  width: 100%;
  height: 100vh;
  /* margin: 20px 0; */
  justify-content: space-around;
}
#redesign h1 {
  position: relative;
  color: #fff;
  top: 100px;
  left: 40%;
  font-size: 50px;
}
#redesign a {
}
.img-text img {
  position: relative;
  top: 250px;
  left: -50%;
  width: 400px;
  height: 400px;
  display: inline-block;
  transition: transform 0.3s ease; /* 부드러운 확대 전환 효과 */
}
.img-text:hover img {
  transform: scale(1.1); /* 호버 시 이미지 확대 */
}

.img-text span {
  position: relative;
  top: 290px;
  left: -50%;
  color: #fff;
  font-size: 30px;
  display: block;
  /* align-items: center; */
  text-align: center;
}

#appdesign {
  position: relative;
  background-color: #7ca9e8;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 20px 0;
  justify-content: space-around;
}
#appdesign h1 {
  position: relative;
  color: #fff;
  top: 100px;
  left: 35%;
  font-size: 50px;
}
.img-app img {
  position: relative;
  top: 250px;
  left: -150px;
  width: 300px;
  height: 589px;
  transition: transform 0.3s ease; /* 부드러운 확대 전환 효과 */
}
.img-app:hover img {
  transform: scale(1.1); /* 호버 시 이미지 확대 */
}
.img-app span {
  position: relative;
  top: 50px;
  left: -130px;
  color: #fff;
  font-size: 30px;
  /* align-items: center; */
  /* text-align: center; */
}

#design {
  position: relative;
  background-color: #7ca9e8;
  display: block;
  width: 100%;
  height: 100vh;
  /* margin: 10px 0; */
  /* justify-content: space-around; */
}
#design h1 {
  position: relative;
  color: #fff;
  top: 100px;
  text-align: center;
  font-size: 50px;
}
/* 위 */
.img-inner {
  position: relative;
  top: 200px;
  display: flex;
}
/* 이미지조정 */
#image3 {
  position: relative;
  width: 25%;
  height: auto;
  left: -150px;
  top: -20px;
  display: none;
  background-color: #fff;
}
#image1 {
  position: relative;
  width: 80%;
  height: auto;
  left: -50px;
  top: -100px;
  display: none;
  background-color: #fff;
}
#image2 {
  position: relative;
  width: 150%;
  height: auto;
  left: -50px;
  top: -100px;
  display: none;
  background-color: #fff;
}
#image4 {
  position: relative;
  width: 50%;
  height: 10%;
  top: 280px;
  left: -700px;
  display: none;
  background-color: #fff;
}
#image5 {
  position: relative;
  width: 20%;
  height: auto;
  left: -230px;
  top: -50px;
  display: none;
  background-color: #fff;
}

.img-A img {
  position: relative;
  left: 150px;
  width: 250px;
  height: 250px;
  display: flex;
}
.img-inner button {
  position: relative;
  /* display: block; */
  top: 215px;
  left: -90px;
}
.txt-container {
  display: flex; /* 수평으로 나열하기 위해 flex 컨테이너 사용 */
  position: relative; /* 부모 컨테이너의 위치 지정 */
}

.txt-p,
.txt-s {
  display: flex; /* 내부 요소들을 수평으로 배치 */
  /* flex-direction: column; */
  position: absolute; /* 개별 위치 조정 가능 */
}

.txt-p {
  position: relative;
  top: 200px; /* 상단 위치 */
  left: 50px; /* 왼쪽 위치 */
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.p1 {
  position: relative;
  top: 280px;
}

.txt-s {
  top: 200px; /* 상단 위치 */
  left: 200px; /* 왼쪽 위치 */
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.s1 {
  position: relative;
  top: 300px;
  left: -150px;
}

.txt-p p,
.txt-s span {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

.txt-p p {
  margin-right: 20px; /* 텍스트 간 간격 조정 */
}

.txt-s span {
  margin-right: 20px; /* 텍스트 간 간격 조정 */
}
/* 위 끝 */

/* 아래 */
.img-innr {
  position: relative;
  display: flex;
  top: 200px;
}
.img-b img {
  position: relative;
  left: 150px;
  width: 250px;
  height: 250px;
  display: flex;
}
.img-innr button {
  position: relative;
  /* display: block; */
  top: 215px;
  left: -90px;
}

button {
  width: 100px;
  height: 30px;
  background-color: white; /* 배경색을 흰색으로 설정 */
  color: black; /* 글자색을 검정으로 설정 */
  border: 1px solid black; /* 테두리를 검정색으로 설정 */
  /* padding: 10px 20px; */
  border-radius: 10px; /* 모서리를 둥글게 설정 */
  font-size: 10px; /* 글자 크기 설정 */
  cursor: pointer; /* 커서 모양을 포인터로 설정 */
  outline: none; /* 포커스 시 생기는 외곽선 제거 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
  text-align: center;
}

button:hover {
  background-color: #f0f0f0; /* 마우스 오버 시 배경색을 약간 회색으로 변경 */
}
