* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #fff;
}

ul,
li {
  list-style: none;
}

/* 포트폴리오 */
.name {
  position: relative;
  display: flex;
  top: 80px;
  left: 20px;
  z-index: 100;
}
.name p {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  z-index: 101;
}

/* 마우스 이미지 */
.cursor {
  position: absolute;
  z-index: 1002;
}

.cursor img {
  width: 40px;
  height: 70px;
}

/* 상단으로 이동 버튼 스타일 */
.scroll-to-top {
  position: fixed; /* 화면에 고정된 위치 */
  bottom: 20px; /* 화면 하단에서 20px */
  right: 20px; /* 화면 오른쪽에서 20px */
  cursor: pointer;
  display: none; /* 기본적으로 숨김 상태 */
  z-index: 1003; /* 다른 요소보다 위에 표시 */
}

.scroll-to-top img {
  width: 40px; /* 버튼 이미지 크기 조정 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
}

.scroll-to-top.show {
  display: block; /* .show 클래스가 추가되면 버튼 표시 */
}

/* 헤더 */
.header {
  position: relative;
  width: 100%;
  height: 1000px;
  top: -800px;
  left: 30px;
  font-size: 50px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.header p {
  position: relative;
  top: 0px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 80px;
}

.text {
  position: relative;
  top: -50px;
  left: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 530;
  /* line-height: 15px; */
}
/* 비디오 */
.banner {
  position: relative;
  width: 100vw;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden;
}

.banner img {
  position: relative;
  top: 0;
  left: 0px;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
}
/* 메인 */
main {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #83a8dc;
}
.maimg {
  position: relative;
  top: 200px;
  left: 200px;
}
.maimg img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.maimg span {
  position: relative;
  top: 25px;
  left: -250px;
  color: #fff;
  font-size: 20px;
}

/* 자기소개 */
.mimm {
  display: flex;
  justify-content: space-between; /* 각 섹션을 좌우로 정렬 */
  margin-bottom: 20px; /* 각 줄 사이의 간격 */
}
/* 각 섹션 내 요소들의 기본 스타일 */
.introduction,
.skill,
.eduation,
.experience {
  flex: 1; /* 각 섹션이 균등한 너비를 차지하도록 설정 */
  padding: 10px; /* 섹션 간의 내부 여백 */
  box-sizing: border-box; /* 패딩이 포함된 너비를 계산 */
}
.eduation li,
.experience li {
  display: block;
  align-items: center;
  /* gap: 5px; */
  margin-bottom: 15px;
}
/* 섹션 제목 간격 */
.mimm h3 {
  margin-bottom: 10px;
}
.mimm h5 {
  margin-bottom: 2px;
}
.introduction {
  position: relative;
  top: -400px;
  left: 40%;
  color: #fff;
  flex: content;
}
.introduction li {
  display: flex;
  align-items: center;
  gap: 5px; /* 이미지와 텍스트 사이의 간격 */
  margin-bottom: 10px;
}
.introduction p {
  font-size: 20px;
}
.introduction span {
  font-size: 20px;
}
/* 이미지 크기 조정 */
.introduction img,
.eduation img,
.experience img {
  width: 24px; /* 원하는 크기로 조정 */
  height: 24px; /* 원하는 크기로 조정 */
}
.skill {
  position: relative;
  top: -400px;
  left: 20%;
  color: #fff;
  gap: 15px; /* 이미지 사이의 간격 조절 */
  display: block;
}
.skill img {
  width: 50px;
  height: 50px;
}
.skillinner {
  position: relative;
  display: block;
  top: -290px;
  left: -345.5px;
  gap: 15px; /* 이미지 사이의 간격 조절 */
}
/* .skillinner img {
justify-content: center;
} */
.eduation {
  position: relative;
  color: #fff;
  top: -250px;
  left: 40%;
}
.eduation p {
  font-size: 20px;
}
.eduation span {
  font-size: 13px;
}
.experience {
  position: relative;
  color: #fff;
  top: -250px;
  left: 20%;
}
.experience p {
  font-size: 20px;
}
.experience span {
  font-size: 13px;
}

/* 메뉴 */
.navbar {
  background-color: #b1caed;
  overflow: hidden;
  position: fixed; /* fixed로 변경 */
  top: 0; /* 화면 상단에 고정 */
  left: 0; /* 화면 왼쪽에 고정 */
  width: 100%;
  transition: transform 0.5s ease-in-out;
  z-index: 1000; /* 메뉴바가 다른 요소 위에 오도록 설정 */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.navbar li a:hover {
  background-color: #ddd;
  font-weight: 800;
  /* color: #ccc; */
}

/* 컨텐츠 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* opacity: 0.9; */
}

.slide-up {
  /* transform: translateY(-100%); */
}

.content {
  position: relative;
  overflow: hidden;
}

#redesign {
  position: relative;
  background-color: #7ca9e8;
  display: flex;
  width: 100%;
  height: 100vh;
  /* margin: 20px 0; */
  justify-content: space-around;
}
#redesign h1 {
  position: relative;
  color: #fff;
  top: 100px;
  left: 40%;
  font-size: 50px;
}
#redesign a {
}
.img-text img {
  position: relative;
  top: 250px;
  left: -50%;
  width: 400px;
  height: 400px;
  display: inline-block;
  transition: transform 0.3s ease; /* 부드러운 확대 전환 효과 */
}
.img-text:hover img {
  transform: scale(1.1); /* 호버 시 이미지 확대 */
}

.img-text span {
  position: relative;
  top: 290px;
  left: -50%;
  color: #fff;
  font-size: 30px;
  display: block;
  /* align-items: center; */
  text-align: center;
}

#appdesign {
  position: relative;
  background-color: #7ca9e8;
  display: flex;
  width: 100%;
  height: 100vh;
  /* margin: 20px 0; */
  justify-content: space-around;
}
#appdesign h1 {
  position: relative;
  color: #fff;
  top: 100px;
  left: 35%;
  font-size: 50px;
}
.img-app img {
  position: relative;
  top: 250px;
  left: -150px;
  width: 300px;
  height: 589px;
  transition: transform 0.3s ease; /* 부드러운 확대 전환 효과 */
}
.img-app:hover img {
  transform: scale(1.1); /* 호버 시 이미지 확대 */
}
.img-app span {
  position: relative;
  top: 50px;
  left: -130px;
  color: #fff;
  font-size: 30px;
  /* align-items: center; */
  /* text-align: center; */
}
/* 디자인 */
#design {
  position: relative;
  background-color: #7ca9e8;
  display: block;
  width: 100%;
  height: 100vh;
  /* margin: 10px 0; */
  /* justify-content: space-around; */
}
#design h1 {
  position: relative;
  color: #fff;
  top: 100px;
  text-align: center;
  font-size: 50px;
}

/* 세 번째 이미지 */
.third-image {
  position: absolute;
  top: 75%;
  left: 75%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #fff;
}

/* 공통 스타일 */
.espoir,
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9 {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.espoir:hover,
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover {
  transform: scale(1.1);
}

.hover-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.espoir:hover .hover-text,
.img1:hover .hover-text,
.img2:hover .hover-text,
.img3:hover .hover-text,
.img4:hover .hover-text,
.img5:hover .hover-text,
.img6:hover .hover-text,
.img7:hover .hover-text,
.img8:hover .hover-text,
.img9:hover .hover-text {
  opacity: 1;
}

/* 모든 espoir 이미지를 위한 공통 스타일 */
.espoir img {
  transform: scale(0.13);
  transform-origin: left top;
  position: absolute;
}

/* 전체화면 이미지 스타일 */
.fullscreen-image {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 2450px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
}

.espoir {
  position: absolute;
  top: 22%;
  left: 40px;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}

.espoir:hover {
  transform: scale(1.1);
}

.fullscreen-image {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.5s ease; /* 확대/축소 시 부드러운 전환 */
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  transform: scale(1); /* 기본 크기 (100%) */
}

.fullscreen-image.shrink img {
  transform: scale(0.5); /* 축소된 크기 (50%) */
}
.first {
  position: relative;
  width: 2400px;
  height: auto;
  top: 0px;
  left: -10px;
  margin-bottom: 10px;
}

.img1 {
  position: absolute;
  top: 22%;
  left: 22%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first1 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}

.img1:hover {
  transform: scale(1.1);
}

.img2 {
  position: absolute;
  top: 22%;
  left: 42%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first2 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}
.img2:hover {
  transform: scale(1.1);
}
.img3 {
  position: absolute;
  top: 22%;
  left: 62%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first3 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}

.img3:hover {
  transform: scale(1.1);
}

.img4 {
  position: absolute;
  top: 22%;
  left: 82%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first4 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}
.img4:hover {
  transform: scale(1.1);
}
.img5 {
  position: absolute;
  top: 60%;
  left: 40px;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first5 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}
.img5:hover {
  transform: scale(1.1);
}
.img6 {
  position: absolute;
  top: 60%;
  left: 22%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first6 {
  position: relative;
  width: 350px;
  height: auto;
  top: -20px;
  left: -25px;
  margin-bottom: 10px;
}
.img6:hover {
  transform: scale(1.1);
}
.img7 {
  position: absolute;
  top: 60%;
  left: 42%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first7 {
  position: relative;
  width: 350px;
  height: auto;
  top: 0px;
  left: -20px;
  margin-bottom: 10px;
}
.img7:hover {
  transform: scale(1.1);
}
.img8 {
  position: absolute;
  top: 60%;
  left: 62%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first8 {
  position: relative;
  width: 400px;
  height: auto;
  top: 0px;
  left: -50px;
  margin-bottom: 10px;
}
.img8:hover {
  transform: scale(1.1);
}
.img9 {
  position: absolute;
  top: 60%;
  left: 82%;
  width: 300px;
  height: 300px;
  overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
  border-radius: 50px;
  transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
  background-color: #fff;
}
.first9 {
  position: relative;
  width: 150px;
  height: auto;
  top: 25px;
  left: 75px;
  margin-bottom: 10px;
}
.img9:hover {
  transform: scale(1.1);
}

.txt {
  text-align: center;
}
.ttt {
  font-weight: 400;
  font-size: 16px;
}

/* 반응형 */
/* 기본 스타일은 그대로 유지 */

@media screen and (max-width: 1024px) {
  /* 1024px 이하 해상도에 대한 스타일 */
  body {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    height: 60px;
  }
  .name p {
    font-size: 28px;
  }
  .banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header {
    font-size: 45px;
  }

  .header p {
    font-size: 35px;
  }

  .text {
    font-size: 14px;
  }

  .maimg {
    left: 50px;
  }

  .maimg img {
    width: 250px;
    height: 350px;
  }

  .introduction,
  .skill,
  .eduation,
  .experience {
    top: -300px;
    left: 10%;
  }

  .skillinner {
    left: -300px;
  }

  .img-text img,
  .img-app img,
  .espoir img {
    transform: scale(0.1);
  }

  .img-text span,
  .img-app span {
    font-size: 28px;
  }

  .txt1,
  .txt2,
  .txt3,
  .txt4,
  .txt5,
  .txt6,
  .txt7,
  .txt8,
  .txt9,
  .txt10 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  /* 768px 이하 해상도에 대한 스타일 */
  .name p {
    font-size: 24px;
  }

  .header {
    font-size: 40px;
  }

  .header p {
    font-size: 30px;
  }

  .text {
    font-size: 12px;
  }

  .maimg {
    left: 100px;
  }

  .maimg img {
    width: 300px;
    height: 500px;
  }

  .introduction,
  .skill,
  .eduation,
  .experience {
    top: -250px;
    left: 5%;
  }

  .skillinner {
    left: -250px;
  }

  .img-text img,
  .img-app img,
  .espoir img {
    transform: scale(0.08);
  }

  .img-text span,
  .img-app span {
    font-size: 26px;
  }

  .txt1,
  .txt2,
  .txt3,
  .txt4,
  .txt5,
  .txt6,
  .txt7,
  .txt8,
  .txt9,
  .txt10 {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  /* 320px 이하 해상도에 대한 스타일 */
  .name p {
    font-size: 20px;
  }

  .header {
    font-size: 35px;
  }

  .header p {
    font-size: 25px;
  }

  .text {
    font-size: 10px;
  }

  .maimg {
    left: 50px;
  }

  .maimg img {
    width: 250px;
    height: 400px;
  }

  .introduction,
  .skill,
  .eduation,
  .experience {
    top: -200px;
    left: 2%;
  }

  .skillinner {
    left: -200px;
  }

  .img-text img,
  .img-app img,
  .espoir img {
    transform: scale(0.05);
  }

  .img-text span,
  .img-app span {
    font-size: 22px;
  }

  .txt1,
  .txt2,
  .txt3,
  .txt4,
  .txt5,
  .txt6,
  .txt7,
  .txt8,
  .txt9,
  .txt10 {
    font-size: 14px;
  }
}
